button
{
    font-size: 28px;
    padding: 1em;
    margin: 1em;
}
.container
{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
}
.container-nav-form
{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 15em;
    margin: 1em;
    padding: 0.5em;
    background-color: #07223E;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #CCCCCC;
    border-style: solid;
    border-color: #061A2D;
    border-width: 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}